/* src/styles/Navbar.module.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(31, 31, 31, 1); /* Semi-transparent background */
    padding: 15px 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
}

.navbar.scrolled {
    background-color: rgba(31, 31, 31, 0.8); /* Fully opaque background when scrolled */
}

.navbarLogo a {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.3s ease;
    padding-right: 30px;
}

.navbarLogo a:hover {
    color: #579cd1;
}

.navbarLinks {
    list-style-type: none;
    display: flex;
    gap: 45px;
    margin: 0;
}

.navbarLinks li {
    margin: 0;
    position: relative;
}

.navbarLinks a {
    color: #eaeaea;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 5px;
}

/* Active link styling */
.navbarLinks a.active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #579cd1;
}

.navbarLinks a:hover {
    color: #579cd1;
}

.navbarButton {
    padding: 10px 25px;
    background-color: #579cd1;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbarButton:hover {
    background-color: #8be2e7;
}

@media (max-width: 1024px) {
    .navbarLinks {
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    .navbarLinks {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        text-align: center;
        padding-bottom: 15px;
    }
}
