/* Sidebar.module.css */
.sidebarContainer {
    width: 16rem;
    background-color: white;
    height: 110vh;
    padding: 1rem;
    box-shadow: 0 4px 8px rgb(202, 93, 218);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebarHeader {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.icon {
    font-size: 2rem;
    margin-right: 0.5rem;
}

.headerText {
    font-size: 1.25rem;
    font-weight: bold;
}

.menuList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.menuItem {
    margin-bottom: 1rem;
}

.menuLink {
    display: flex;
    align-items: center;
    color: #af37c4;
    text-decoration: none;
    padding: 0.5rem 0;
}

.menuLink:hover {
    color: #be4be0;
    transition: color 0.2s ease-in-out;
}

.menuIcon {
    margin-right: 0.5rem;
}

.accountSection {
    margin-top: 1rem; /* Ensures account section starts below main menu */
    position: relative;
    top: 1rem;
}

.sectionHeader {
    color: #6b7280;
    margin-bottom: 1rem;
    font-size: larger;
    font-weight: bold;
}

.helpSection {
    padding: 1rem;
    background-color: #f3f4f6;
    border-radius: 0.5rem;
    margin-top: auto; /* Forces help section to stay at the bottom */
}

.helpText {
    color: #6b7280;
    margin-bottom: 0.5rem;
}

.helpButton, .upgradeButton {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgb(248, 78, 242);
    margin-bottom: 1rem;
}

.helpButton {
    background-color: white;
    color: #6b7280;
}

.upgradeButton {
    background-color: #58196f;
    color: white;
}
